<form [formGroup]="postForm">
  <input
    type="text"
    class="form-control form-control-lg"
    placeholder="Ingrese el nombre"
    formControlName="nombre"
    [ngClass]="{
      'is-invalid':
        postForm.controls.nombre.invalid && postForm.controls.nombre.touched,
      'is-valid':
        postForm.controls.nombre.valid && postForm.controls.nombre.touched
    }"
  />

  <textarea
    class="form-control form-control-lg mt-3"
    placeholder="Ingrese descripcion"
    formControlName="descripcion"
    [ngClass]="{
      'is-invalid':
        postForm.controls.descripcion.invalid &&
        postForm.controls.descripcion.touched,
      'is-valid':
        postForm.controls.descripcion.valid &&
        postForm.controls.descripcion.touched
    }"
  ></textarea>
  <div class="d-grid gap-2">
    <button
      class="btn btn-success mt-3"
      (click)="agregarPost()"
      [disabled]="postForm.invalid"
    >
      {{ post.id ? "Actualizar" : "Agregar" }}
    </button>
  </div>
</form>
